@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    <div class="jumbotron bg-light p-4 rounded">
        <h1 class="display-4 text-success">Welcome to Our Bank Transaction System!</h1>
        <p class="lead text-muted">Effortlessly manage your finances with our powerful platform. Our comprehensive passbook feature allows you to:</p>
        <ul class="list-unstyled">
            <li class="my-3"><span class="h5">💼</span> View your entire transaction history at a glance.</li>
            <li class="my-3"><span class="h5">✏️</span> Quickly add, update, or delete transactions as needed.</li>
        </ul>
        <p class="lead text-muted">Enjoy full control over your financial records with a focus on security and user-friendly navigation. Experience seamless banking like never before!</p>
     </div>
</div>